html {
    font-size: 10px;
}

body {
    @extend %font-prim;
    @include font($size: 1.6rem, $height: 2.6rem, $weight: normal);
    color: $color-text;
    height: auto;
}

h1 {
    @extend %font-add;
    @include font($size: 4.4rem, $height: 5.4rem);
    @include media-mobile {
        @include font($size: 3.2rem, $height: 4.2rem); 
    }
}